<div class="row gy-5">
    <main>
        <section>

            <h1 class="text-center text-uppercase">Hello world!</h1>
            <h2 class="text-end text-lowercase">Second title</h2>
            <h3 class="text-capitalize">Third title</h3>

            <hr>

            <div class="display-1">Hello world!</div>
            <div class="display-5">Second title</div>
            <div class="display-6">Third title</div>

            <hr>

            <div class="text-muted text-end">
                Additional text
            </div>

            <hr>

            <button class="btn btn-secondary btn-lg">Add</button>
            <button class="btn btn-info btn-sm">Buy</button>

        </section>

        <br>
        <br>
        <br>
        <hr>

        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/500/300" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <p>USB connect 5.0</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <br>
        <br>
        <br>
        <hr>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        #id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Age
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>May</td>
                    <td>26</td>
                </tr>
            </tbody>
        </table>


        <br>
        <br>
        <br>
        <hr>

        <div class="row gx-5 gy-1">
            <div class="col-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p>USB connect 5.0</p>
                        <a href="#" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p>USB connect 5.0</p>
                        <a href="#" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p>USB connect 5.0</p>
                        <a href="#" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p>USB connect 5.0</p>
                        <a href="#" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p>USB connect 5.0</p>
                        <a href="#" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-12">
                <label class="form-label">Email address</label>
                <input class="form-control form-control-sm">
                <div class="form-text text-danger">Error. Please enter correct email.</div>
            </div>
            <div class="col-12">
                <label class="form-label">Email address</label>
                <input disabled type="color" class="form-control">
                <div class="form-text text-danger">Error. Please enter correct email.</div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <label class="form-label">Select role</label>
                <select class="form-select form-select-lg">
                    <option selected>Open list</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
                <div class="form-text text-danger">Error. Please choose correct role.</div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label pb-2">Select food:</div>

                <div class="form-check form-switch">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banana</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>
        </div>
</div>
</main>
</div>