<main class="p-5">
    <h1>Hello world!</h1>

    {{> title data="My title"}}

    <div style="color: brown;">
        My textick
    </div>

    <style>
        h1 {
            color: green;
        }
    </style>
</main>