<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second title</h2>
    <h3 class="text-capitalize">Third title</h3>

    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-5">Second title</div>
    <div class="display-6">Third title</div>

    <hr>

    <div class="text-muted text-end">
        Additional text
    </div>

    <hr>

    <button class="btn btn-secondary btn-lg">Add</button>
    <button class="btn btn-info btn-sm">Buy</button>
</main>