<div class="mb-5">
    <ul>
        <li>
            <div>Guide:</div>
            <ul>
                {{#with guide}}
                <li>
                    <div>
                        Name: {{name}}
                    </div>
                    <div>
                        Language: {{language}}
                    </div>
                    <div>
                        Rating: {{rating}}
                    </div>
                </li>
                {{/with}}
            </ul>
        </li>
    </ul>
</div>