<div>
    <ul>
        {{#each partners}}
        <li>
            <div>
                {{name}} -
                <b>{{relationship}}</b>
            </div>
            <div>{{years}}</div>
            <br>
        </li>
        {{/each}}
    </ul>
</div>