<div class="collapse" id="collapseExample">
    <div class="card card-body" style="width: 150px;">
        <ul>
            {{#each data}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>